<ul class="list-inline banner">
    <li>
      <a href="https://github.com/serra"
        title="Github - @serra">
        {% include banners/fa-on-circle.html fa-icon="fa-github" %}
      </a>
    </li>
    <li><a href="https://www.linkedin.com/in/marijnvanderzee"
           title="LinkedIn">
            {% include banners/fa-on-circle.html fa-icon="fa-linkedin" %}
        </a></li>
    <li><a href="http://stackoverflow.com/users/322283/marijn"
           title="Stack Overflow - @marijn">
           {% include banners/fa-on-circle.html fa-icon="fa-stack-overflow" %}
        </a>
    </li>
    <li><a href="http://bit.do/serras-kanban-board"
           title="Trello">
           {% include banners/fa-on-circle.html fa-icon="fa-trello" %}
        </a>
    </li>
    <li><a href="https://twitter.com/marijnvanderzee"
           title="Twitter - @marijnvanderzee">
           {% include banners/fa-on-circle.html fa-icon="fa-twitter" %}
        </a>
    </li>
    <li><a href="https://www.scrum.org/User-Profile/userId/121566"
           title="scrum.org - Professional Sticky Master">
           {% include banners/fa-on-circle.html fa-icon="fa-sticky-note-o" %}
        </a>
    </li>
</ul>