<ul class="list-inline">
    <li><a href="https://github.com/serra"
           title="Github - @serra">{% icon fa-github fa-lg %}</a></li>
    <li><a href="https://www.linkedin.com/in/marijnvanderzee"
           title="LinkedIn">{% icon fa-linkedin fa-lg %}</a></li>
    <li><a href="http://stackoverflow.com/users/322283/marijn"
           title="Stack Overflow - @marijn">{% icon fa-stack-overflow fa-lg %}</a></li>
    <li><a href="http://bit.do/serras-kanban-board"
           title="Trello">{% icon fa-trello fa-lg %}</a></li>
    <li><a href="https://twitter.com/marijnvanderzee"
           title="Twitter - @marijnvanderzee">{% icon fa-twitter fa-lg %}</a></li>
    <li><a href="https://www.scrum.org/User-Profile/userId/121566"
           title="scrum.org - Professional Sticky Master">{% icon fa-sticky-note-o fa-lg %}</a></li>
</ul>