<ul class="list-inline banner">
  <li>
    <p>
      <a href="{{ BASE_PATH }}/pages/contact.html"
           title="marijn@serraict.com">
        <img class="img-circle" 
               src="/assets/img/marijn-z2.png" 
               alt="Serra ICT Diensten"></a>
    </p>
    <p>Marijn</p>
  </li>
  <li>
    <p>
      <a href="mailto:marijn@serraict.com"
           title="marijn@serraict.com">
        {% include banners/fa-on-circle.html fa-icon="fa-envelope-o" %}
      </a>
    </p>
    <p>Mail</p>
  </li>
  <li>
    <p>
      <a href="https://medium.com/@marijnvanderzee"
           title="Medium - Marijn van der Zee">
        {% include banners/fa-on-circle.html fa-icon="fa-medium" %}
      </a>
    </p>
    <p>Medium</p>
  </li>  
  <li>
    <p>
      <a href="https://github.com/serra"
              title="Github - @serra">{% include banners/fa-on-circle.html fa-icon="fa-github" %}</a>
    </p>
    <p>Github</p>
  </li>
  <li>
    <p>
      <a href="https://www.linkedin.com/in/marijnvanderzee"
                 title="LinkedIn">
        {% include banners/fa-on-circle.html fa-icon="fa-linkedin" %}
      </a>
    </p>
    <p>LinkedIn</p>
  </li>
  <li>
    <p>
      <a href="http://stackoverflow.com/users/322283/marijn"
           title="Stack Overflow - @marijn">
        {% include banners/fa-on-circle.html fa-icon="fa-stack-overflow" %}
      </a>
    </p>
    <p>StackOverflow</p>
  </li>
  <li>
    <p>
      <a href="http://bit.do/serras-kanban-board"
               title="Trello">{% include banners/fa-on-circle.html fa-icon="fa-trello" %}</a>
    </p>
    <p>Trello</p>
  </li>
  <li>
    <p>
      <a href="https://twitter.com/marijnvanderzee"
               title="Twitter - @marijnvanderzee">{% include banners/fa-on-circle.html fa-icon="fa-twitter" %}</a>
    </p>
    <p>Twitter</p>
  </li>
  <li>
    <p>
      <a href="https://www.scrum.org/User-Profile/userId/121566"
               title="scrum.org - Professional Sticky Master">
        {% include banners/fa-on-circle.html fa-icon="fa-sticky-note-o" %}
      </a>
    </p>
    <p>Scrum.org</p>
  </li>
</ul>