<div class="row about">
  <div class="col-md-4 lane">
    <h3>to do</h3>

    <blockquote class="note note-yellow">
        
        <p>
            I'm open for new opportunities as a freelance, full time Scrum Master or Agile Coach.
        </p>
        <p>
            <a href="pages/contact.html" class="btn btn-primary">Let's get in touch!</a>
        </p>
        <p>Available from: Sep 1st</p>
    </blockquote>
</div>
<div class="col-md-4 lane">
    <h3>doing</h3>
    <blockquote class="note note-yellow">
        Consultant at Logiqs BV.
        <p>half a day per week</p>
    </blockquote>    

    <blockquote class="note note-orange">
        <i class="pin"> </i>
        Scrum Master at Dutch Council of State.
        <p>until: May 31st</p>
    </blockquote>

</div>
<div class="col-md-4 lane">
    <h3>done</h3>

    <blockquote class="note note-orange">
        Scrum Master at TransFollow
        <p>April 2014 - March 2016</p>
    </blockquote>

    <blockquote class="note note-yellow">
        <i class="pin"> </i>
        Training from the back of the room!
        <p>April 10th, 11th</p>
    </blockquote>

    <div class="divider"></div>

    <blockquote class="note note-yellow">
    <i class="pin"> </i>
        For more information see my 
        <a href="http://bit.do/serras-kanban-board">public Trello board</a>
        and 
        <a href="https://www.linkedin.com/in/marijnvanderzee">LinkedIn profile</a>.
        <p> </p>
    </blockquote>

</div>
</div>