<div class="row about">
  <div class="col-md-4 lane">
    <h3>to do</h3>

    <div class="divider"></div>

    <blockquote class="note note-yellow">
        <i class="pin"> </i>
        For more information see my 
        <a href="http://bit.do/serras-kanban-board">public Trello board</a>
        and 
        <a href="https://www.linkedin.com/in/marijnvanderzee">LinkedIn profile</a>.
        <p> </p>
    </blockquote>

</div>

<div class="col-md-4 lane">
    <h3>doing</h3>

    <blockquote class="note note-orange">
        Scrum Master at PostNL

        <p>{% include ext-link.html href="https://www.postnl.nl/" %}</p>
    </blockquote>    

    <blockquote class="note note-yellow">
        Team Navigator

        <p>{% include ext-link.html href="https://impactspheres.co/join-me-to-become-a-team-navigator-ca2b33cd324b" %}</p>
    </blockquote>

    <div class="divider"></div>    

    <blockquote class="note note-yellow">
        Consultant at Logiqs BV  

        <p>{% include ext-link.html href="https://www.logiqs.nl/" %}</p>
    </blockquote>    

</div>

<div class="col-md-4 lane">
    <h3>done</h3>

    <blockquote class="note note-orange">
        <i class="pin"> </i>
        Scrum Master at Dutch Council of State.
        <p>May 2016 - May 2017 
            {% include ext-link.html href="https://www.raadvanstate.nl/onze-werkwijze/mijn-zaak.html" %}</p>
        </blockquote>

        <blockquote class="note note-yellow">
            <i class="pin"> </i>
            Training from the back of the room!
            <p>April 10th, 11th</p>
        </blockquote>

        <blockquote class="note note-orange">
            Scrum Master at TransFollow
            <p>April 2014 - March 2016 {% include ext-link.html href="https://www.transfollow.org" %}</p>
        </blockquote>

    </div>
</div>