<a id="leave-a-comment"></a>
<div class="comment" id="leave-a-comment">

  <h4>Leave a comment</h4>

  <form method="POST" action="https://serra-staticman.herokuapp.com/v2/entry/serraict/serraict.github.io/master/comment">
    <input name="options[redirect]" type="hidden" value="{{ site.url }}{{ page.url }}">
    <!-- e.g. "2016-01-02-this-is-a-post" -->
    <div class="form-group">
      <input name="options[slug]" type="hidden" value="{{ page.slug }}">
      <label for="fields[name]">Name</label>
      <input name="fields[name]" type="text"  class="form-control" required>
    </div>
    <div class="form-group">
      <label for="fields[email]">E-mail</label>
      <input name="fields[email]" type="email"  class="form-control"  required>
    </div>
    <div class="form-group">
      <label for="fields[message]">Message</label>
      <textarea name="fields[message]" 
                class="form-control" id="fields[message]" 
                required></textarea>
    </div>
    
    <div class="form-group hidden" style="display: none;">
      <label for="comment-form-location">Leave blank if you are a human</label>
      <input class="form-control" type="text" id="comment-form-location" name="fields[hidden]" autocomplete="off">
    </div>

    <button type="submit" class="btn btn-primary">Add Comment</button>
  </form>

</div>