  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Contact me. <span class="text-muted">Phone or email works best.</span></h2>
      <address>
        <strong>Serra ICT Diensten</strong>
        <small>Marijn van der Zee</small><br>
        Westplantsoen 66<br>
        2613 GM Delft<br><br>
        <abbr title="Telefoon">T:</abbr> +31 (0)6 387 414 82<br>
        <abbr title="E-mail">@:</abbr> 
          <a href="mailto:marijn@serraict.com">marijn@serraict.com</a> or 
          <a href="mailto:info@serraict.com<">info@serraict.com</a><br>
        <abbr title="Internet">www:</abbr> <a href="{{ site.url }}">www.serraict.com</a><br>
        <abbr title="Kamer van koophandel">KvK:</abbr> <a href="http://www.kvk.nl/orderstraat/product-kiezen/?kvknummer=273634790000">27363479</a><br>
      </address>
    </div>
    <div class="col-md-5">
      <a href="https://www.google.nl/maps/place/Serra+ICT+Diensten/@52.0077803,4.3470782,17z/data=!4m2!3m1!1s0x47c5b5c88a896d93:0xd983dc4848d23eb9?hl=en">
      <img class="featurette-image img-responsive center-block" 
           src="/assets/img/serraict_map.png" 
           alt="Serra ICT Diensten, map"
           width="400" height="400"></a>
    </div>
  </div>