 <div id="cardCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#cardCarousel" data-slide-to="0"></li>
        <li data-target="#cardCarousel" data-slide-to="1"></li>
        <li data-target="#cardCarousel" data-slide-to="2"></li>
        <li data-target="#cardCarousel" data-slide-to="3"></li>
        <li data-target="#cardCarousel" data-slide-to="4"></li>
        <li data-target="#cardCarousel" data-slide-to="5"></li>
    </ol>
    <div class="carousel-inner" role="listbox">

        <div class="item active">
          <div class="carousel-caption">
            <p>
                <a href="https://trello.com/c/HrDZMmqP/3-owner-at-serra-ict-diensten">Owner at Serra ICT Diensten</a>
            </p>
          </div>
        </div>
        <div class="item active">
          <div class="carousel-caption">
            <p>
                <a href="https://trello.com/c/S748wQ8A/78-agile-coach-at-transfollow">Agile Coach at TransFollow</a>
            </p>
          </div>
        </div>
        <div class="item active">
          <div class="carousel-caption">
            <p>
                <a href="https://trello.com/c/E2l9tr7x/2-consultant-at-logiqs">Consultant at Logiqs</a>
            </p>
          </div>
        </div>
        <div class="item active">
          <div class="carousel-caption">
            <p>
                <a href="https://trello.com/c/6Uk2ycfr/91-create-serra-s-annotated-scrum-guide">Create Serra's Annotated Scrum Guide</a>
            </p>
          </div>
        </div>
        <div class="item active">
          <div class="carousel-caption">
            <p>
                <a href="https://trello.com/c/M2582HMl/87-read-scrum-mastery">Read: Scrum Mastery</a>
            </p>
          </div>
        </div>
        <div class="item active">
          <div class="carousel-caption">
            <p>
                <a href="https://trello.com/c/PvSRrKmw/52-agile-retrospectives-course">Agile Retrospectives Course</a>
            </p>
          </div>
        </div>

    </div>
</div>
