<div>

  <nav>
    <ul class="nav">
        <li>
          <a href="https://trello.com/c/HrDZMmqP/3-owner-at-serra-ict-diensten">Owner at Serra ICT Diensten</a>
        </li>
        <li>
          <a href="https://trello.com/c/S748wQ8A/78-agile-coach-at-transfollow">Agile Coach at TransFollow</a>
        </li>
        <li>
          <a href="https://trello.com/c/E2l9tr7x/2-consultant-at-logiqs">Consultant at Logiqs</a>
        </li>
        <li>
          <a href="https://trello.com/c/6Uk2ycfr/91-create-serra-s-annotated-scrum-guide">Create Serra's Annotated Scrum Guide</a>
        </li>
        <li>
          <a href="https://trello.com/c/M2582HMl/87-read-scrum-mastery">Read: Scrum Mastery</a>
        </li>
        <li>
          <a href="https://trello.com/c/PvSRrKmw/52-agile-retrospectives-course">Agile Retrospectives Course</a>
        </li>
    </ul>
  </nav>

</div>