{% assign edit_base_url = 'https://github.com/serraict/serraict.github.io' %}

{% assign my_url = site.url | append: page.url %}

<div class="btn-toolbar" style="padding: 5px;" role="toolbar" aria-label="Share options">
    <div class="btn-group">
        <a href="{{edit_base_url}}/blob/master/{{page.path}}" class="me-2 btn btn-outline-secondary" title="Edit this page on Github" data-bs-toggle="tooltip">
            <i class="fa fa-pencil"></i>
        </a>
    </div>
    <div class="btn-group">
        <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ my_url | url_encode }}&title={{ page.title | url_encode }}" class="btn btn-outline-secondary" data-bs-toggle="tooltip" title="Share this article on LinkedIn">
            <i class="fa fa-linkedin"></i>
        </a>
        <a href="mailto:someone@example.com?subject={{ page.title | url_encode }}&body={{ my_url }}" data-bs-toggle="tooltip" class="btn btn-outline-secondary" title="Share this article through email">
            <i class="fa fa-envelope-o"></i>
        </a>
        <button  type="button" data-bs-toggle="tooltip" title="Copy permalink to this page" data-clipboard-text="{{ my_url }}" class="btn btn-outline-secondary">
            <i class="fa fa-link"></i>
        </button>
    </div>
</div>
