{% assign edit_base_url = 'https://github.com/serraict/serraict.github.io' %}

{% assign my_url = site.url | append: page.url %}

<div class="btn-toolbar">
  <div class="btn-group">
    <a href="{{edit_base_url}}/blob/master/{{page.path}}"
       class="btn btn-default"
       title="Edit this page on Github"
       data-toggle="tooltip">
       <i class="fa fa-pencil"> </i></a>
  </div>
  <div class="btn-group">
    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ my_url | url_encode }}&title={{ page.title | url_encode }}"
       class="btn btn-default"
       data-toggle="tooltip"
       title="Share this article on LinkedIn">
      <i class="fa fa-linkedin"></i> </a>
    <a href="mailto:someone@example.com?subject={{ page.title | url_encode }}&body={{ my_url }}"
       data-toggle="tooltip"
       class="btn btn-default"
       title="Share this article through email">
      <i class="fa fa-envelope-o"></i> </a>
    <button 
      type="button"
       data-toggle="tooltip"
       title="Copy permalink to this page"
       data-clipboard-text="{{ my_url }}"
       class="btn btn-default">
      <i class="fa fa-link"></i> </button>
  </div>
</div>
